<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Goal</title>
</head>
<body>
  <header>
    <h1>Edit Goal</h1>
  </header>

  <main>
    <form action="/goals/edit/<%= goal._id %>" method="POST">
        <input type="text" name="title" value="<%= goal.title %>" required>
        <textarea name="description" rows="4" required><%= goal.description %></textarea>
        <input type="date" name="deadline" value="<%= new Date(goal.deadline).toISOString().split('T')[0] %>" required> <!-- 날짜 필드 추가 -->
        <button type="submit">Save Changes</button>
      </form>
  </main>
</body>
</html>
