<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Goal</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <main class="edit-container">
    <h1>Edit Goal</h1>
    <form action="/goals/edit/<%= goal._id %>" method="POST">
        <input type="text" name="title" value="<%= goal.title %>" required>
        <textarea name="description" rows="4" required><%= goal.description %></textarea>
        <input type="date" name="deadline" value="  <%= goal.deadline
        ? new Date(goal.deadline).toLocaleDateString('en-US', {
            year: 'numeric', month: 'long', day: 'numeric'
          })
        : 'No deadline'
   %>" required>
        <button type="submit">Save Changes</button>
    </form>
    <a href="/goals" class="cancel-btn">Cancel</a>
  </main>
</body>
</html>
